<!DOCTYPE html>
<!-- 
Green Monkeys; Daniel He, Faiyaz Rafee
SoftDev
K12 -- Flask forms
2022-10-17
time spent: 1 hr
 -->


<html>

  <head>
    <title> RESPONSE PAGE </title>
  </head>

  <body>
    <h1>Team Green Monkeys: Daniel He, Faiyaz Rafee</h1>
    <h2>
      Greetings, Fellow thinkeren: {{user}}
    </h2>
    <h3>Request: {{request_method}}</h3>
    </h1>
    <h4>A GET request is used to retrieve data from a web server, and the parameters are appended to the URL.</h4>
    <h4>A POST request sends form data to the server</h4>
    <br>
  </body>

</html>