<!DOCTYPE html>
<!-- 
Green Monkeys; Daniel He, Faiyaz Rafee
SoftDev
K12 -- Flask forms
2022-10-17
time spent: 1 hr
 -->


<html>
  <head>
    <title> Lourem Ipsum </title>
    <link rel="stylesheet"
    type="text/css"
    href="../static/style.css"/>
    <!-- comment out style tag to change internal to external style -->
    <style>
        table{
            width: 100%; margin-top: -40px; padding: 10px; margin-bottom: -25px;
        }
        .ddd{
            color:aliceblue;  
        }
        h1{
            padding: 5px; text-align: center; background-color: #989898; color:aliceblue
        }
        .big_div{
            background-color:#606060; font-family: Arial, Helvetica, sans-serif;
        }
        .copyright{
            padding-top: 13px; color: #6e6d6d;
        }
        .divison{
            width: 25%; vertical-align: text-top;
        }
        #Lover{
            text-align: center; color: aquamarine
        }
        .bottom{
            background-color:#404040; height: 45px; text-align: right; padding-right: 10px;
        }
    </style>
    
  </head>

  <body style="background-color:#707070;">
    <div style ="color: aquamarine; font-size: larger; font-family: Arial, Helvetica, sans-serif;"> 
        Team Green Monkeys: Faiyaz Rafee, Daniel He
        <br> <br>
        Lourem Ipsum Generator: <a href="https://hipsum.co/">Hipsum</a>
    </div>
    <div style="text-align: center; color: aquamarine">Inline</div>
    <div style="background-color:#606060; font-family: Arial, Helvetica, sans-serif;">
    <h1 style="padding: 5px; text-align: center; background-color: #989898; color:aliceblue">h1 foo</h1>
        <table style="width: 100%; margin-top: -40px; padding: 10px; margin-bottom: -25px;">
            <tr>
                <td style="width: 25%; vertical-align: text-top;">
                    <h3>
                    nav foo
                    </h3>
                    <h3 style="color:aliceblue;"> 
                        dis <br> dat <br> de udda ting
                    </h3>
                </td>
                <td>
                    <h2> 
                        main foo heading 
                    </h2>
                    <p>
                        I'm baby food truck neutra health goth, jean shorts yr chartreuse yes plz raclette craft beer. Distillery disrupt asymmetrical, vinyl tonx chicharrones cold-pressed mlkshk. Cornhole occupy literally, sartorial gluten-free kickstarter flannel leggings cold-pressed XOXO DIY helvetica. Cold-pressed lomo adaptogen church-key. Crucifix normcore austin fixie, helvetica pitchfork iceland venmo iPhone cloud bread heirloom subway tile church-key forage. 90's yuccie flannel pop-up tumeric blue bottle etsy tilde air plant art party bodega boys lomo. Tousled four loko hexagon, ugh sus polaroid etsy hella mumblecore mukbang.
                        <br> <br>
                        Whatever pok pok iPhone hashtag, ugh cred hoodie tacos vaporware. Pour-over tumeric woke portland edison bulb yr. Shabby chic forage everyday carry live-edge mustache. Wolf JOMO godard, etsy jean shorts neutra try-hard. Typewriter art party meh intelligentsia activated charcoal salvia adaptogen mlkshk.
                    </p>
                </td>
            </tr>
        </table>
        <div style="background-color:#404040; height: 45px; text-align: right; padding-right: 10px;">
            <p style="padding-top: 13px; color: #6e6d6d;">
                Copyright &copy; 2015 Clyde "Thluffy" Sinclair
            </p>
        </div>
    </div>


    <br>
    <br>


    <div id = "Lover">Internal Style</div>
    <div class="big_div">
    <h1>h1 foo</h1>
        <table>
            <tr>
                <td class="divison">
                    <h3>
                    nav foo
                    </h3>
                    <h3 class="ddd"> 
                        dis <br> dat <br> de udda ting
                    </h3>
                </td>
                <td>
                    <h2> 
                        main foo heading 
                    </h2>
                    <p>
                        I'm baby irony poke vinyl, hoodie man bun air plant wolf copper mug kinfolk banjo tumeric master cleanse tbh tattooed. Sriracha keytar tofu prism. Shoreditch gochujang chia hashtag austin jean shorts readymade chillwave stumptown coloring book unicorn etsy bitters art party cloud bread. Banjo normcore ugh drinking vinegar activated charcoal health goth live-edge kombucha occupy tousled. Ramps seitan plaid tbh, kombucha flannel palo santo.
                        <br> <br>
                        Gentrify gochujang flexitarian PBR&B, tonx semiotics lumbersexual hot chicken fam direct trade vexillologist selfies enamel pin copper mug. Af pop-up art party church-key. Lomo umami kombucha iceland shabby chic, drinking vinegar gatekeep wolf heirloom vibecession. Asymmetrical cliche jianbing forage PBR&B, biodiesel shaman butcher. Before they sold out gochujang cliche, taiyaki direct trade hella 8-bit sriracha synth chartreuse twee whatever kombucha. Biodiesel woke bushwick meggings.                    </p>
                </td>
            </tr>
        </table>
        <div class = "bottom">
            <p class="copyright">
                Copyright &copy; 2015 Clyde "Thluffy" Sinclair
            </p>
        </div>
    </div>

    <br>
    <br>
    <div id = "Lovers">External Style</div>
    <div class="big_divs">
    <h1>h1 foo</h1>
        <table>
            <tr>
                <td class="divisons">
                    <h3>
                    nav foo
                    </h3>
                    <h3 class="ddds"> 
                        dis <br> dat <br> de udda ting
                    </h3>
                </td>
                <td>
                    <h2> 
                        main foo heading 
                    </h2>
                    <p>
                        I'm baby irony poke vinyl, hoodie man bun air plant wolf copper mug kinfolk banjo tumeric master cleanse tbh tattooed. Sriracha keytar tofu prism. Shoreditch gochujang chia hashtag austin jean shorts readymade chillwave stumptown coloring book unicorn etsy bitters art party cloud bread. Banjo normcore ugh drinking vinegar activated charcoal health goth live-edge kombucha occupy tousled. Ramps seitan plaid tbh, kombucha flannel palo santo.
                        <br> <br>
                        Gentrify gochujang flexitarian PBR&B, tonx semiotics lumbersexual hot chicken fam direct trade vexillologist selfies enamel pin copper mug. Af pop-up art party church-key. Lomo umami kombucha iceland shabby chic, drinking vinegar gatekeep wolf heirloom vibecession. Asymmetrical cliche jianbing forage PBR&B, biodiesel shaman butcher. Before they sold out gochujang cliche, taiyaki direct trade hella 8-bit sriracha synth chartreuse twee whatever kombucha. Biodiesel woke bushwick meggings.                    </p>
                </td>
            </tr>
        </table>
        <div class = "bottoms">
            <p class="copyrights">
                Copyright &copy; 2015 Clyde "Thluffy" Sinclair
            </p>
        </div>
    </div>
  </body>

</html>